{
  "extends": "rallycoding",
  "rules": {
    "max-len": [ 2, 150, 4, {"ignoreUrls": true}],
    "no-unused-expressions": ["error", {"allowTernary": true}],
    "eol-last": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  }
}